In [2]:
#dependencies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
path = "../resources/BEA.gov/CAINC1 Personal Income Summary Personal Income, Population, Per Capita_multi-cities.csv"
path2 = "../resources/BEA.gov/CAINC4 Personal Income and Employment by Major Component_multi-cities.csv"
df = pd.DataFrame(pd.read_csv(path))
df2 = pd.DataFrame(pd.read_csv(path2))

In [4]:
df.head()

,GeoFips,GeoName,LineCode,Description,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",1,Personal income (thousands of dollars),70355303,77881693,85635903,88950627,97181958,103244100,107664294,117458116,127439164
1,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",2,Population (persons) 1/,1727528,1780605,1834926,1883901,1943409,2002591,2062211,2115230,2168316
2,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",3,Per capita personal income (dollars) 2/,40726,43739,46670,47216,50006,51555,52208,55530,58773
3,14460,"Boston-Cambridge-Newton, MA-NH (Metropolitan S...",1,Personal income (thousands of dollars),265132347,278612314,291048881,293546105,310121199,331696214,344041629,362272886,383664542
4,14460,"Boston-Cambridge-Newton, MA-NH (Metropolitan S...",2,Population (persons) 1/,4566449,4609467,4656698,4703321,4747822,4779753,4811098,4844597,4875390

In [6]:
df2

,GeoFips,GeoName,LineCode,Description,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",NaN,Income by place of residence,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",10.0,Personal income (thousands of dollars),70355303.0,77881693.0,85635903.0,88950627.0,97181958.0,103244100.0,107664294.0,117458116.0,127439164.0
2,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",11.0,Nonfarm personal income 1/,70356694.0,77893026.0,85626638.0,88909972.0,97167076.0,103205385.0,107666100.0,117462371.0,127449114.0
3,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",12.0,Farm income 2/,-1391.0,-11333.0,9265.0,40655.0,14882.0,38715.0,-1806.0,-4255.0,-9950.0
4,12420,"Austin-Round Rock-Georgetown, TX (Metropolitan...",20.0,Population (persons) 3/,1727528.0,1780605.0,1834926.0,1883901.0,1943409.0,2002591.0,2062211.0,2115230.0,2168316.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,42660,"Seattle-Tacoma-Bellevue, WA (Metropolitan Stat...",72.0,Nonfarm proprietors' income,9219785.0,11197202.0,15679257.0,18175045.0,18882363.0,19772147.0,20558553.0,22506153.0,23335106.0
104,42660,"Seattle-Tacoma-Bellevue, WA (Metropolitan Stat...",NaN,Employment (number of jobs),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,42660,"Seattle-Tacoma-Bellevue, WA (Metropolitan Stat...",7010.0,Total employment,2154810.0,2190360.0,2258786.0,2313266.0,2380352.0,2454182.0,2527421.0,2611999.0,2683056.0
106,42660,"Seattle-Tacoma-Bellevue, WA (Metropolitan Stat...",7020.0,Wage and salary employment,1739726.0,1768162.0,1838081.0,1883589.0,1937367.0,1993032.0,2048847.0,2097087.0,2148664.0
107,42660,"Seattle-Tacoma-Bellevue, WA (Metropolitan Stat...",7040.0,Proprietors employment,415084.0,422198.0,420705.0,429677.0,442985.0,461150.0,478574.0,514912.0,534392.0