In [1]:
import pandas as pd
import gmaps
# # Google developer API key
# from config import gkey

# # Access maps with unique API key
# gmaps.configure(api_key=gkey)

In [2]:
# Lat, Lng data from https://public.opendatasoft.com
path = '../../Resources/GeoData/us-zip-code-latitude-and-longitude.csv'

zip_data = pd.DataFrame(pd.read_csv(path, index_col=False))

zip_data

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,71937,Cove,AR,34.398483,-94.393980,-6,1,34.398483
1,72044,Edgemont,AR,35.624351,-92.160560,-6,1,35.624351
2,56171,Sherburn,MN,43.660847,-94.743570,-6,1,43.660847
3,49430,Lamont,MI,43.010337,-85.897540,-5,1,43.010337
4,52585,Richland,IA,41.194129,-91.980270,-6,1,41.194129
...,...,...,...,...,...,...,...,...
43186,62833,Ellery,IL,38.361654,-88.164840,-6,1,38.361654
43187,34711,Clermont,FL,28.545742,-81.748050,-5,1,28.545742
43188,72410,Alicia,AR,35.930405,-91.076640,-6,1,35.930405
43189,35560,Goodsprings,AL,33.679503,-87.237372,-6,1,33.679503
43190,76006,Arlington,TX,32.778047,-97.080880,-6,1,32.778047

In [3]:
path2 = '../../Resources/permits_by_zip.csv'

permits = pd.DataFrame(pd.read_csv(path2, header=None))

permits = permits.rename(columns = {0:'Zip', 1:'Permits Issued (2008-2018)'})

permits.head()

       Zip  Permits Issued (2008-2018)
0  78704.0                       44889
1  78745.0                       34643
2  78748.0                       31675
3  78723.0                       29773
4  78703.0                       28982

In [4]:
permits_zip = pd.merge(permits, zip_data, on='Zip',how='left')

permits_zip.head()

,Zip,Permits Issued (2008-2018),City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,78704.0,44889,Austin,TX,30.246309,-97.76087,-6,1,30.246309
1,78745.0,34643,Austin,TX,30.207559,-97.79575,-6,1,30.207559
2,78748.0,31675,Austin,TX,30.172020,-97.82265,-6,1,30.172020
3,78723.0,29773,Austin,TX,30.306507,-97.68651,-6,1,30.306507
4,78703.0,28982,Austin,TX,30.290907,-97.76277,-6,1,30.290907

In [5]:
geocords = []
permit_count = []

for index, row in permits_zip.iterrows():
    geocords.append((row['Latitude'], row['Longitude']))
    permit_count.append(row['Permits Issued (2008-2018)'])

# Plot Heatmap
figure_layout = {
    'width': '1000px',
    'height': '750px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

fig.add_layer(gmaps.heatmap_layer(geocords,permit_count))
fig

Figure(layout=FigureLayout(border='1px solid black', height='750px', margin='0 auto 0 auto', padding='1px', wi…

In [6]:
path3 = '../../Resources/Zip_Zri_AllHomesPlusMultifamily_Summary.csv'

rent_df = pd.DataFrame(pd.read_csv(path3))

rent_df

,Date,RegionName,State,Metro,County,City,SizeRank,Zri,MoM,QoQ,YoY,ZriRecordCnt
0,2020-01-31,60657,IL,Chicago-Naperville-Elgin,Cook County,Chicago,0,1996,-0.0278,-0.0610,-0.0146,32023
1,2020-01-31,77494,TX,Houston-The Woodlands-Sugar Land,Harris County,Katy,1,1778,0.0013,0.0079,0.0022,43054
2,2020-01-31,77449,TX,Houston-The Woodlands-Sugar Land,Harris County,Katy,2,1443,-0.0071,0.0247,0.0179,41100
3,2020-01-31,10002,NY,New York-Newark-Jersey City,New York County,New York,3,3605,-0.0139,-0.0316,0.0223,12425
4,2020-01-31,77084,TX,Houston-The Woodlands-Sugar Land,Harris County,Houston,4,1438,0.0013,0.0122,0.0216,31001
...,...,...,...,...,...,...,...,...,...,...,...,...
11876,2020-01-31,26291,WV,NaN,Pocahontas County,Snowshoe,11876,923,-0.0069,-0.0099,-0.0397,2009
11877,2020-01-31,12720,NY,NaN,Sullivan County,Bethel,11877,1272,-0.0291,-0.0576,-0.0153,2210
11878,2020-01-31,26209,WV,NaN,Pocahontas County,Snowshoe,11878,765,-0.0182,0.0263,0.0241,1233
11879,2020-01-31,41101,KY,Huntington-Ashland,Boyd County,Ashland,11879,815,-0.0163,-0.0164,-0.0534,5316
11880,2020-01-31,89155,NV,Las Vegas-Henderson-Paradise,Clark County,Las Vegas,11880,1429,-0.0084,0.0160,0.0911,1891

In [7]:
zips = permits_zip['Zip'].to_list()

zris = {}

for index, row in rent_df.iterrows():
    for z in zips:
        if z == row['RegionName']:
            zris[z] = [row['Zri']]

In [8]:
rent_zip = pd.DataFrame(data=zris).T

rent_zip = rent_zip.reset_index()

rent_zip = rent_zip.rename(columns = {'index':'Zip',0:'Zillow Rent Index (ZRI)'})

rent_zip.head()

       Zip  Zillow Rent Index (ZRI)
0  78660.0                     1521
1  78613.0                     1552
2  78704.0                     1894
3  78745.0                     1551
4  78641.0                     1546

In [9]:
rent_permits = pd.merge(permits_zip,rent_zip,on='Zip',how='inner')
rent_permits = rent_permits.drop(columns=['Timezone','Daylight savings time flag','geopoint'])
rent_permits.head()

,Zip,Permits Issued (2008-2018),City,State,Latitude,Longitude,Zillow Rent Index (ZRI)
0,78704.0,44889,Austin,TX,30.246309,-97.76087,1894
1,78745.0,34643,Austin,TX,30.207559,-97.79575,1551
2,78748.0,31675,Austin,TX,30.172020,-97.82265,1617
3,78723.0,29773,Austin,TX,30.306507,-97.68651,1666
4,78703.0,28982,Austin,TX,30.290907,-97.76277,2246

In [10]:
rent_geo = []
zri = []

for index, row in rent_permits.iterrows():
    rent_geo.append((row['Latitude'], row['Longitude']))
    zri.append(row['Zillow Rent Index (ZRI)'])

# Plot Heatmap
figure_layout = {
    'width': '1000px',
    'height': '750px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

fig.add_layer(gmaps.heatmap_layer(rent_geo,zri))
fig

Figure(layout=FigureLayout(border='1px solid black', height='750px', margin='0 auto 0 auto', padding='1px', wi…

In [11]:
path4 = '../../resources/IRS_TX.csv'

tax_df = pd.DataFrame(pd.read_csv(path4))

tax_df.head(10)

,ZIP code,Size of adjusted gross income,Number of returns,Number of joint returns,Number with paid preparer's signature,Number of exemptions,Number of dependents,Adjusted gross income (AGI)
0,00000,Total,"11,229,245","4,186,321","5,804,318","23,941,128","9,153,812","669,546,212"
1,00000,"$1 under $25,000",4741176,698410,2457391,8057437,3234552,60534512
2,00000,"$25,000 under $50,000",2756676,878418,1384619,6104591,2478749,99171181
3,00000,"$50,000 under $75,000",1391070,731553,707103,3285137,1164166,85366797
4,00000,"$75,000 under $100,000",850681,615644,424006,2229997,764060,73598946
5,00000,"$100,000 under $200,000",1104679,927691,565214,3129355,1097189,148396804
6,00000,"$200,000 or more",384963,334605,265985,1134611,415096,202477972
7,75001,NaN,"8,535","1,730","3,911","13,083","3,085","558,152"
8,75001,"$1 under $25,000",2644,220,1266,3778,1160,35921
9,75001,"$25,000 under $50,000",2442,327,1018,3725,969,90058

In [12]:
new_zips = []

for z in zips:
    new_zips.append(str(int(z)))

tax_bracks = {}

# agis = []

count = 0

for index, row in tax_df.iterrows():
    
    if row['Number of returns'] == '**':
        row['Number of returns'] = 0

    for z in new_zips:

#         agi = 0
        
        if z == row['ZIP code']:
                        
            tax_bracks[z] = {}
            
            if row['Size of adjusted gross income'] == '$1 under $25,000':
                tax_bracks[z]['$1 under $25,000'] = int(row['Number of returns'])
#                 agi += int(row['Adjusted gross income (AGI)'])
                            
            elif row['Size of adjusted gross income'] == '$25,000 under $50,000':
                tax_bracks[z]['$25,000 under $50,000'] = int(row['Number of returns'])
#                 agi += int(row['Adjusted gross income (AGI)'])


            elif row['Size of adjusted gross income'] == '$50,000 under $75,000':
                tax_bracks[z]['$50,000 under $75,000'] = int(row['Number of returns'])
#                 agi += int(row['Adjusted gross income (AGI)'])


            elif row['Size of adjusted gross income'] == '$75,000 under $100,000':
                tax_bracks[z]['$75,000 under $100,000'] = int(row['Number of returns'])
#                 agi += int(row['Adjusted gross income (AGI)'])


            elif row['Size of adjusted gross income'] == '$100,000 under $200,000':
                tax_bracks[z]['$100,000 under $200,000'] = int(row['Number of returns'])
#                 agi += int(row['Adjusted gross income (AGI)'])


            elif row['Size of adjusted gross income'] == '$200,000 or more':
                tax_bracks[z]['$200,000 or more'] = int(row['Number of returns'])
#                 agi += int(row['Adjusted gross income (AGI)'])



tax_bracks

{'78610': {'$200,000 or more': 299},
 '78613': {'$200,000 or more': 1453},
 '78617': {'$200,000 or more': 22},
 '78620': {'$200,000 or more': 601},
 '78641': {'$200,000 or more': 634},
 '78645': {'$200,000 or more': 263},
 '78652': {'$200,000 or more': 38},
 '78653': {'$200,000 or more': 64},
 '78660': {'$200,000 or more': 458},
 '78664': {'$200,000 or more': 534},
 '78669': {'$200,000 or more': 398},
 '78681': {'$200,000 or more': 1314},
 '78701': {'$200,000 or more': 699},
 '78702': {'$200,000 or more': 84},
 '78703': {'$200,000 or more': 2037},
 '78704': {'$200,000 or more': 1007},
 '78705': {'$200,000 or more': 206},
 '78717': {'$200,000 or more': 913},
 '78719': {'$200,000 or more': 0},
 '78721': {'$200,000 or more': 0},
 '78722': {'$200,000 or more': 70},
 '78723': {'$200,000 or more': 178},
 '78724': {'$200,000 or more': 22},
 '78725': {'$200,000 or more': 0},
 '78726': {'$200,000 or more': 624},
 '78727': {'$200,000 or more': 348},
 '78728': {'$200,000 or more': 95},
 '78729': {'$200,000 or more': 279},
 '78730': {'$200,000 or more': 1015},
 '78731': {'$200,000 or more': 2160},
 '78732': {'$200,000 or more': 1405},
 '78733': {'$200,000 or more': 892},
 '78734': {'$200,000 or more': 1095},
 '78735': {'$200,000 or more': 1169},
 '78736': {'$200,000 or more': 185},
 '78737': {'$200,000 or more': 661},
 '78738': {'$200,000 or more': 1496},
 '78739': {'$200,000 or more': 1134},
 '78741': {'$200,000 or more': 43},
 '78742': {'$200,000 or more': 0},
 '78744': {'$200,000 or more': 30},
 '78745': {'$200,000 or more': 223},
 '78746': {'$200,000 or more': 3591},
 '78747': {'$200,000 or more': 142},
 '78748': {'$200,000 or more': 298},
 '78749': {'$200,000 or more': 619},
 '78750': {'$200,000 or more': 1265},
 '78751': {'$200,000 or more': 227},
 '78752': {'$200,000 or more': 34},
 '78753': {'$200,000 or more': 64},
 '78754': {'$200,000 or more': 61},
 '78756': {'$200,000 or more': 300},
 '78757': {'$200,000 or more': 316},
 '78758': {'$200,000 or more': 139},
 '78759': {'$200,000 or more': 1602}}

In [26]:
tax_bracks_df = pd.DataFrame(data=(tax_bracks)).T
tax_bracks_df = tax_bracks_df.reset_index()
tax_bracks_df = tax_bracks_df.rename(columns={'index':'Zip'})

tax_bracks_df['Zip'] = tax_bracks_df['Zip'].astype('int64', copy=False)


over200_zip = pd.merge(tax_bracks_df, zip_data, on='Zip',how='left')

over200_zip.sort_values('$200,000 or more',ascending=False).head()

,Zip,"$200,000 or more",City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
42,78746,3591,Austin,TX,30.287739,-97.80220,-6,1,30.287739
29,78731,2160,Austin,TX,30.344305,-97.76380,-6,1,30.344305
14,78703,2037,Austin,TX,30.290907,-97.76277,-6,1,30.290907
54,78759,1602,Austin,TX,30.406169,-97.75743,-6,1,30.406169
36,78738,1496,Austin,TX,30.340111,-97.98869,-6,1,30.340111

In [34]:
rich_geo = []
rich_count = []

for index, row in over200_zip.iterrows():
    rich_geo.append((row['Latitude'], row['Longitude']))
    rich_count.append(row['$200,000 or more'])

# Plot Heatmap
figure_layout = {
    'width': '1000px',
    'height': '750px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

fig.add_layer(gmaps.heatmap_layer(rich_geo,rich_count))
fig

Figure(layout=FigureLayout(border='1px solid black', height='750px', margin='0 auto 0 auto', padding='1px', wi…